.homeIlustration{
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 20%;
}
.AppTitle{
  font-size: 9vw;
  margin-top: 5%;
}
.appSubTitle{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  margin-top: 5%;
}
.registerText{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  margin-top: 5%;
}