<ion-content [fullscreen]="true">
  <img class="homeIlustration" alt="Ion-Fire" title="Ion-Fire" src="../../assets/ilustrations/firebase.png">
  <h1 class="ion-text-center ion-text-capitalize AppTitle">Ion-Fire</h1>
  <p class="ion-text-center appSubTitle">Integración de Firebase con Ionic</p>
  <ion-button class="ion-text-center ion-text-capitalize appButton" (click)="goToLogin()">Iniciar sesión</ion-button>
  <p class="ion-text-center registerText" (click)="goToRegister()">¿No tienes cuenta? regístrate</p>
</ion-content>
